// Typography Tokens
// Font-related variables

:root {
  // Font family
  --s-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  // Font weights
  --s-font-weight-thin: 300;
  --s-font-weight-normal: 400;
  --s-font-weight-bold: 700;
}
