/* scenes/border.less
 * 边框场景原子：.s-bd（静态）/ .s-livebd（响应）/ .s-ctrlbd（控件灰边）
 * 双重身份：真实 CSS 类 + Less mixin
 */

.s-bd {
  @withHover: false;
  @withActive: false;
  @withDisabled: true;
  @withTheme: true;
  .mixin-border-color();
}

.s-livebd {
  @withHover: true;
  @withActive: true;
  @withDisabled: true;
  @withTheme: true;
  .mixin-border-color();
}

.s-ctrlbd {
  @withHover: true;
  @withActive: true;
  @withDisabled: true;
  .mixin-control-border-color();
}
